# * file: .gitignore
# ##############################################################################
# ** metadata
# ******************************************************************************
# author: Rohit Yadav
# vim: ft=sh
# -*- mode: outshine; mode: sh; -*-


# ** main
# ******************************************************************************
*.log
resurrect
.snake*
db
